body {
  overflow-x: hidden;
}

.mb-tittle h1 {
    font-family: 'BebasNeueLight';
    font-size: 150px;
    line-height: 1em;
    color: #d0a73b;
     margin-top: 20vh;
     strong {
        font-family: 'bebas_neuebook';
        color:#fff;
        font-weight: 400;
     }
     span.sub {
          font-size: 30px;
          display: block;
          line-height: 30px;
          font-family:'Roboto Condensed', sans-serif;
          text-transform: uppercase;
          font-weight: 400;
          color:#aaa;
           @media (max-width: $screen-md) {
            font-size: 24px
        }
         @media (max-width: $screen-md) { 
          font-size:4vw;
         }
     }
    @media (max-width: $screen-md) {
            margin-top: 100px;
            font-size: 100px
    }
        @media (max-width: $screen-sm) {
            padding: 0 50px;
            font-size:16vw;
    }

}



h2 {
  font-size: 5em;
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
  font-family: 'bebas_neuelight';
  text-transform: uppercase;

  strong {
    font-family: 'BebasNeueBook';
  }
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  strong {
    font-weight: 400;
  }
}

.button-right {
  float: right;
}

.button {
  color: #cda54b;
  font-family: 'BebasNeueRegular';
  font-size: 19px;
  border: 2px solid #cda54b;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
  margin-top: 100px;
  cursor: pointer;
  font-weight: 400;

  &:hover {
    color: #09090B;
    text-decoration: none;
    background: #cda54b;
  }
}

.button-right {
  float: right;
}

section {
  position: relative;
}

section > canvas {
  position: absolute;
  top: 2px;
  z-index: 10;
  margin-top: 1px
}

section#canvas2 > canvas,
section#canvas4 > canvas,
section#knowlage_details > canvas,
#about_3 > canvas {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

section#canvas3 > canvas {
  z-index:12;
}

section.hascanvas > canvas {
 @media (max-width: $screen-md) {
  display: none;
 }
}

section.hascanvas > div.canvas_help {
   
} 

.canvas_help2 {
  height:15vh;
  //border: 1px solid red;
}

.canvas_help3 {
  height:15vh;
  //border: 1px solid red;
}

.canvas_help + div {
  padding-bottom:20vh;
  //border: 1px solid red;
}

.realative_mod {
     z-index: 11;
  position:relative;
} 

.canvas_help {
 // min-height:30vh;
  //border: 1px solid red;
  position: relative;
   > div {
    height: 100px;
    position:absolute;
    width: 100%;
    bottom: 0;   
   }

}
.nicescroll-rails-vr {
  @media (min-width: $screen-md-min) {  
  display: block !important;
}
}

.nicescroll-rails-hr {  
  display: none !important;
}

@-webkit-keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
 .scroll-btn {
   display: block;
    position: absolute;
    left: 70px;
    /* right: 0; */
    text-align: center;
    top: 90vh;
    @media (max-width: $screen-lg) {
    left: 2vw;
    }
    @media (max-width: $screen-md) {
    display:none;
    }
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 30px;
    height: 45px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}
