body {
  overflow-x: hidden;
}

h2 {
  font-size: 5em;
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
  font-family: 'bebas_neuelight';
  text-transform: uppercase;

  strong {
    font-family: 'BebasNeueBook';
  }
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  strong {
    font-weight: 400;
  }
}

.button-right {
  float: right;
}

.button {
  color: #cda54b;
  font-family: 'BebasNeueRegular';
  font-size: 19px;
  border: 2px solid #cda54b;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
  margin-top: 100px;
  cursor: pointer;
  font-weight: 400;

  &:hover {
    color: #09090B;
    text-decoration: none;
    background: #cda54b;
  }
}

.button-right {
  float: right;
}

section {
  position: relative;
}

section > canvas {
  position: absolute;
  top: 2px;
  z-index: 10;
  margin-top: 1px
}

section#canvas2 > canvas,
section#canvas4 > canvas,
section#knowlage_details > canvas,
#about_3 > canvas {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

section#canvas3 > canvas {
  z-index:12;
}

section.hascanvas > canvas {
 @media (max-width: $screen-md) {
  display: none;
 }
}

section.hascanvas > div.canvas_help {
   
} 

.canvas_help2 {
  height:15vh;
  //border: 1px solid red;
}

.canvas_help3 {
  height:15vh;
  //border: 1px solid red;
}

.canvas_help + div {
  padding-bottom:20vh;
  //border: 1px solid red;
}

.realative_mod {
     z-index: 11;
  position:relative;
} 

.canvas_help {
 // min-height:30vh;
  //border: 1px solid red;
  position: relative;
   > div {
    height: 100px;
    position:absolute;
    width: 100%;
    bottom: 0;   
   }

}
.nicescroll-rails-vr {
  @media (min-width: $screen-md-min) {  
  display: block !important;
}
}

.nicescroll-rails-hr {  
  display: none !important;
}

