h2 {
  font-size: 5em;
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
  font-family: 'bebas_neuelight';
  text-transform: uppercase;

  strong {
    font-family: 'bebas_neue_regularregular';
  }
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  strong {
    font-weight: 400;
  }
}

section > div {
  padding-top: 10vh;
}

.button-right {
  float: right;
}

.button {
  color: #cda54b;
  font-family: 'BebasNeueRegular';
  font-size: 19px;
  border: 2px solid #cda54b;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
  margin-top: 100px;
  cursor: pointer;
  font-weight: 400;

  &:hover {
    color: #09090B;
    text-decoration: none;
    background: #cda54b;
  }
}

.button-right {
  float: right;
}

section {
  position: relative;
}

section > canvas {
  position: absolute;
  top: 2px;
  z-index: 10;
}

section#canvas2 > canvas,
section#canvas4 > canvas,
section#knowlage_details > canvas {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
