

.button-wrap {
	position: relative;
	margin: 0;
	padding: 1em;
	z-index: 1;
}

/* General <i class="fa fa-angle-down"></i> style (reset) */
.cbtn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbtn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.cbtn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}



/* Button 1 */
.cbtn-1 {
	border: 3px solid #fff;
	color: #fff;
}


/* Button 1e */
.cbtn-1e {
	overflow: hidden;
}

.cbtn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.cbtn-1e:hover,
.cbtn-1e:active {
	color: #0e83cd;
}

.cbtn-1e:hover:after {
	height: 260%;
	opacity: 1;
}

.cbtn-1e:active:after {
	height: 400%;
	opacity: 1;
}

.button {
    border: 2px solid #cda54b;
    border-radius: 5px;
    color: #cda54b;
    cursor: pointer;
    display: inline-block;
    font-family: BebasNeueRegular;
    font-size: 19px;
    font-weight: 400;
    margin-top: 100px;
    padding: 20px 30px;
		&:hover {
			color:#09090b;
		}
}
