.footer {
    background: #fff;
    font-size: 19px;
    font-family: 'Roboto Condensed', sans-serif;
    .footer_info > div > div {
        @media (max-width: $screen-md) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    .footerupper {
        border-bottom: 1px solid #ceceef;
        padding: 50px 25px;
        color: #30303a;
        .logobottom {
            a:hover {
                text-decoration: none;
            }
            span {
                color: #30303a;
                margin-left: 2em;
                &:first-letter {
                    text-transform: uppercase;
                }
            }
        }
        div {
            > span:first-child {
                color: #30303a;
                display: block;
                padding-left: 5px;
                font-size: 0.8em;
            }
            > span:last-child {
                color: #30303a;
                display: block;
                padding-left: 5px;
                font-size: 0.8em;
                a {
                    color: inherit;
                }
            }
        }
    }
    .footerdown {
        padding: 50px 25px;
        color: #30303a;
        .rights {
            font-size: 0.8em;
        }
        .rights a {
            color: inherit;
        }
        .socialmedia {
          @media (max-width: $screen-xs) { 
            text-align: center;
            padding-top:30px;
          }
            ul {
                list-style: none;
            }
            li {
                display: inline-block;
            }
            a {
                background: #e7e8f9;
                color: #1362e7;
                display: inline-block;
                width: 2em;
                height: 2em;
                border-radius: 50%;
                text-align: center;
                line-height: 2em;
                margin-left: 0.5em;
                @include transition(background 0.17s ease-in-out, color 0.23s ease-in);
                &:hover {
                    color: #fff;
                    background: #1362e7;
                }
            }
        }
    }
}
