.main_banner {
  background-color: #09090b;
  background-position: center center;
  background-size: auto 100%;
  font-family: 'BebasNeueRegular';
  position: relative;
  height: 500px;
  video {
    position: absolute;
    height: 100%;    
    right: -5%;
    @media (max-width: $screen-md) {
      left:auto;
      height: 600px;
      @include transform (scaleX(-1));      
      right: -10%;
    }
    @media (min-width:$screen-lg + 320) {      
      width: 110%;
      height: auto;
    }

  }
  .videooverlayer {
      background:rgba(43,44,64,.7);
      content:' ';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position:absolute;
  }
  .main_banner_inner_wrap {
    bottom: 30%;
    position: absolute;
    width: 100%;
  }
  @media (min-width: $screen-md) {
    height: 970px;
  }
  .mb-slider-count {
    color: white;
    display: block;
    font-size: 5em;
    position: relative;
    
    .mb-slider-nr-wrap {
         position: absolute;
        bottom: 0;
        @media (max-width: $screen-md) { 
            display:none;
        }
    }
    .mb-slider-nr {
      font-family: 'BebasNeueBold';
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      vertical-align: top;
      text-align: top;
      padding: 0;
      /* background: rebeccapurple; */
      line-height: 0.8em;
      
    }
    .mb-slider-of {
        font-family: 'BebasNeueBold';
      line-height: 1;
      font-size: 0.26em;
      position: absolute;
      top: 0;
      display: block;
      width: 24px;
      left: 1.67em;
      padding-top: 0.1em;
    }
  }
  .mb-tittle-wrap {
    position: absolute;
    bottom: -6.1em;
    @media (max-width: $screen-md) {
        bottom:-1.1em;
    }
  }
  .mb-tittle {
    font-family: 'bebas_neuebook';
    font-size: 10em;
    line-height: 1em;
    color: #ffffff;
    @media (max-width: $screen-md) {
      font-size: 5em
    }
    ul {
      list-style: none;
      li {
        strong {
          color: #d0a73b;
          font-family: 'BebasNeueLight';
          font-weight: 200;
        }
      }
    }
  }
}

