$color-main: #FF5252;
$color-active: #FFF;
$color-link: #FFF;
$button-height: 27px;
$button-width: 30px;


.navigator {
  z-index: 100;
  position: relative;
#logo_top {
  position: fixed;
  top: 50px;
  left: 64px;    
  @media (max-width: $screen-lg+200) {
    top:5%;
    left:2%;
  }
}

.button_container {
  position: fixed;
  top: 80px;
  right: 80px;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
    @media (max-width: $screen-lg+200) {
    top:5%;
    right:2%;
  }

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-1px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
  background: $color-link;
  border: none;
  height: 2px !important;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;

    &:nth-of-type(2) {
      top: 6px;
    }

    &:nth-of-type(3) {
      top: 12px;
    }
  }
}

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;


  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 7vh;
    font-family: 'BebasNeueBook';
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display:block;
      min-height: 7vh;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        @include transition(background .17s ease);        

        &:hover,
         &:focus,
         &:active {
           width: 100%;
           background: #cda54b;
         }

        &:after {
          // content: '';
          // position: absolute;
          // bottom: 0;
          // left: 50%;
          // width: 0%;
          // transform: translateX(-50%);
          // height: 3px;
          // background: $color-link;
          // transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
}
