#canvas3 {
     background: #2b2c43;
     background-image: url('../images/main_line_3.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%; 
}


#bp_technology {
    width: 100%;
    overflow: hidden;
    @media (min-width:$screen-md){
    min-height: 960px;
    overflow: visible;
    }   
    font-size: 20px;    
    z-index:14;
    position: relative;    
    //background: #2b2c43;
    padding-top:100px;  

    .showen{
        @include transition(opacity .3s ease-in);        
    } 

    h2 strong {
        font-weight: 400;
    }
    .techbox {
        color: #d3cfe3;
        font-family: 'BebasNeueRegular';
        background: #222335;
        height: 3.5em;
        line-height: 3.5em;
        text-align: center;
        margin-bottom: 30px;
    }
    .phonewrap {
        position: relative;
        @media (max-width: $screen-md) {
            display: none;
        }
        .phoneimg {
            position: absolute;
            z-index: 2;
            @media (max-width: $screen-md) {
                position: relative;
            }
            > img {
                max-width: 100%
            }
        }
        .phonelabel {
            position: absolute;
            z-index: 3;

        }
        .phonelabel1 {
            left: 70%;
            top: 78%;
             @include animation('move-the-object 3.5s infinite');
            animation-duration: infinite;
            
        }
        .phonelabel2 {
            left: 50%;
            top: 11%;
             @include animation('move-the-object 4.5s infinite');
            animation-duration: infinite;
        }
        .phonelabel3 {
            left: 79%;
            top: 32%;
             @include animation('move-the-object 5.5s infinite');
            animation-duration: infinite;
        }
        .phonelabel4 {            
            left: 2%;
            top: 71%;
            @include animation('move-the-object 2.5s infinite');
            animation-duration: infinite;
        }
    }
    @include keyframes(move-the-object) {
        0% {
            transform: translate3d(-10px, 0px, 0px);
        }
         25% {
        transform: translate3d(-10px, -10px, 0px);
        }
         50% {
            transform: translate3d(10px, 0px, 0px);
        }
        75% {
            transform: translate3d(0px, 10px, 0px);
        }
        100% {
            transform: translate3d(-10px, 0px, 0px);
        }
    }
    .button {
        margin-right: 0;
        margin-bottom: 100px;
    }
}
